.footer__items {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 720px) {
    .footer__items {
        max-width: 288px;
        flex-direction: column;
        gap: 32px;
        
    }
}

@media screen and (max-width: 320px) {
    .footer__items {
        max-width: 288px;
        flex-direction: column;
        gap: 32px;
        
    }
}