.places__place {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px 40px;
    margin-top: 80px;
}

.places__place:first-child {
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .places__place {
        max-width: 928px;
        margin: 92px auto 0;
    }
}

@media screen and (max-width: 768px) {
    .places__place {
        max-width: 720px;
        margin: 73px auto 0;
        gap: 48px 28px;
    }
}

@media screen and (max-width: 720px) {
    .places__place {
        grid-template-columns: max(320px);
        max-width: 320px;
        margin: 50px auto 0;
        gap: 30px;
    }
}

@media screen and (max-width: 320px) {
    .places__place {
        grid-template-columns: max(320px);
        max-width: 320px;
        margin: 50px auto 0;
        gap: 30px;
    }
}